article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
  --base-font-size: 125%;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;

  --heading-font-family: "Fredericka the Great", "serif";
  --heading-font-weight: var(--font-weight-regular);
  --heading-font-size: var(--base-font-size);
  --heading-line-height: 6rem;

  --subheading-font-family: "Cormorant Garamond", "serif";
  --subheading-font-weight: var(--font-weight-semiBold);
  --subheading-font-size: var(--base-font-size);
  --subheading-line-height: 1.5rem;

  --body-font-family: "Roboto", "sans-serif";
  --body-font-weight: var(--font-weight-light);
  --body-font-size: var(--base-font-size);
  --body-line-height: 1.45rem;

  --form-font-family: "Lato", "sans-serif";
  --form-font-weight: var(--font-weight-regular);

  --widthRegular: 1600px;
  --widthTablet: 800px;
  --widthMobile: 750px;

  --white: #fcfcfc;
  --light-green: #c3d3cb;
  --dark-green: #152d20;
  --black: #000000;
  --black-russian: #1f2022;
}

.wrapper {
  width: calc(100% - 11.5%);
  margin: 0 auto;
}

.innerWrapper {
  max-width: 80%;
  margin: 0 auto;
}

html {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);

  letter-spacing: 0px;


  color: var(--white);
  background-color: var(--dark-green);
}

h1, h2, h3, h4
 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  text-transform: uppercase;
}

h5, h6  {
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  line-height: var(--subheading-line-height);
}

h1 {
  font-size: 6rem;
  margin: 0;
}

h2 {
  font-size: 1.9rem;
  margin: 0;
}

h3 {
  font-size: 2.45rem;
  margin: 0;
}

h4 {
  font-size: 1.75rem;
  margin: 0;
}

h5 {
  font-size: 1.75rem;
  margin: 0;
}

h6 {
  font-size: 1.1rem;
  margin: 0;
}

a, button {
  font-family: var(--subheading-font-family);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

section {
  max-width: 1600px;
  margin: 0 auto;
}

.button, button {
  width: 160px;
  height: 50px;
  font-family: var(--subheading-font-family);
  font-size: 0.9rem;
  padding: 0.5rem;
  display: inline-block;
  border: 2px solid black;
  color: var(--dark-green);
  text-align: center;
}

.white {
  color: var(--black);
  background: var(--white);
}

.white:hover {
  color: var(--white);
  background: var(--black);
}

.black {
  color: var(--white);
  background: var(--black);
}

.black:hover {
  color: var(--black);
  background: var(--white);
}

/* =============== Header ====================== */
header {
  width: 100%;
  height: 150vw;

  background-image: 
    url('../assets/mobileHero.png'),
    linear-gradient(to bottom, rgba(68, 68, 70, 0.16), rgba(68, 68, 70, 0.16));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 50%;
  padding: 1px;
}

header .wrapper {
      position: relative;
      height: 50vw;
}

header h1 {
  display: inline-block;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  max-width: 33%;
}

header .hamburgerMenu {
  float: right;
  margin-top: 10px;
}

/* Landscape phone to portrait tablet */
@media (min-width: 585px) {
  header {
    height: 50vw;
    background-image: url('../assets/largeHero.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
  }

  header h1 {
    float: left;
  }
}

/* Portrait tablet and small desktops */
@media (min-width: 980px) {
  header {
    height: 50vw;
    background-image: url('../assets/largeHero@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;

  }

  header .wrapper nav {
    display: initial;
    float: left;
  }

  header h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 2rem;
    float: right;
    text-align: right;
    max-width: 50%;
  }


}

@media (min-width: 1150px) {
  header {
    height: 50vw;
    background-image: url('../assets/largeHero@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
  }

  header h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 12vw;
    margin-right: 5vw;
    float: right;
    text-align: right;
    max-width: 50%;
  }
}

/* Header Nav =================== */
header nav, ul.topSocial {
  display: none;
}

header nav ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

header nav ul li {
  float: left;
  margin: 24px;
}

header nav a {
  font-size: 1.1rem;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

ul.social {
  float: right;
}

 

/* Portrait tablet and small desktops */
@media (min-width: 980px) {
  header .wrapper nav {
    display: initial;
    float: left;
  } 

  ul.topSocial {
      list-style: none;
      display: inherit;
      padding: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  div .hamburgerMenu {
    display: none;
  }
}

/* =============== Suzie =================== */
section.suzie {
  clear: both;
  padding: 1px;
  margin: 0 auto;
}

section.suzie h2 {
  display: inline-block;
  margin-top: 2.55rem;
}

section.suzie figure  {
  width: 90%;
  margin: 50px auto;
}

section.suzie img {
  width: 100%;
  margin: 50px auto 0 auto;
  object-fit: cover;
}

section p {
  font-size: 0.9rem;
}

section a {
  margin: 0 auto 40px auto;
}

section.suzie .readMore {
  text-align: center;
}

@media(min-width: 785px) {
  section.suzie img {
    width: 50%;
    height: 50%;
    float: left;
    margin: 5.45rem 2rem 5.45rem 0rem;
  }

  section.suzie h2 {
    margin-top: 5.45rem;
  }

  section.suzie p {
    margin: 1rem 0;
    line-height: 1.4rem;
    
    width: 100%;
  }
}


@media(min-width: 980px) {
  section.suzie img {
    width: 15.75rem;
    height: 15.75rem;
  }
  section.suzie p {
    line-height: 1.4rem;
    float: left;
    width: 59%;
  }
  section.suzie a {
    float: left;
  }
}

@media(min-width: 1150px) {
  section.suzie p {
    width: 65%;
  }
}

/* =============== Friends =================== */
section.friends {
  background-color: var(--white);
  padding: 1px;
  height: 100%;
}

section.friends h2 {
  color: var(--dark-green);
  text-align: center;
  font-size: 1.9rem;
  margin: 2rem auto;
  max-width: 80%;
  line-height: normal;
}

section.friends div {
  width: calc((100% - 20%) / 2);
  margin: 0 4.15%;
  float: left;
  padding: 1px;
}

section.friends img {
  width: 100%;
  margin: 1rem auto;
  display: block;
}

/* hide the parrot for now */
section.friends div:nth-of-type(3) {
  display:none;
}

@media(min-width: 585px) {
  section.friends div:nth-of-type(3) {
    display: block;
  }

  section.friends div:nth-of-type(n) {
    width: calc((100% - 8%) / 3);
    width: 25%;
    margin: 0 4.15%;
  }
}


/* =============== linksOfInterest ====================== */
section.interest {
  clear: both;
}

section.interest ul {
  padding: 0px;
  list-style-type: none;
  text-align: center;
  margin: 2.1rem auto;
  display: block;
}

section.interest li {
  display: block;
  max-width: 50%;
  margin: 1rem 30%;
  padding: 0px;
}

section.interest h5 {
  font-size: 1.35rem;
  display: inline-block;
  width: 100%;
}

section.interest .interestIcon {
  font-size: 3rem;
  margin: 15%;
}

section.interest a {
  margin: 0;
  max-width: 300px;
  display: inline-block;
}

@media(min-width: 585px) {
  section.interest li {
    display: inline-block;
    max-width: 30%;
    margin: 1rem auto;
  }
    section.interest h5 {
    font-size: 1.95rem;
    display: inline;
  }

  section.interest .interestIcon {
    font-size: 3rem;
  }
}

/* =============== Posterboard ====================== */
section.posterboard {
  background: var(--white);
  color: var(--black-russian);
  text-align: center;
}

.posterboard figure figcaption {
  width: 100%;
  float: left;
  padding: 5%;
}

.posterboard div, .posterboard figcaption {
  width: 100%;
}

div.zebraPicture {
  float: right;
  background-image: url('../assets/zebra@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(40vw);
  background-position: 50% 50%;
}

div.catPicture {
  float: left;
  background-image: url('../assets/highFive@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: calc(40vw);
  background-position: 50% 50%;
}

section.posterboard h4 {
  font-size: 1.1rem;
  margin: 2%;
}

section.posterboard p {
  margin-bottom: 12.5%;
}

@media(min-width: 930px ) {
    .posterboard div, .posterboard figcaption {
      height: 40vw;
    width: 50%;
  }

  .posterboard img {
    object-fit: cover;
  }
  .picture, .posterboard figure .wrapper {
    width: calc(100% / 2);
    float: left;
  }

  .picture:first-child {
    float: right;
  }
}

/* =============== Footer ====================== */
footer {
  clear: both;
  text-align: center;
}

footer nav {
  width: 100%;
  margin: 2.1rem auto;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline-block;
}

footer nav li a {
  font-size: 0.9rem;
  font-weight: var(--font-weight-semiBold);
  margin: 0 0.5rem;
}

footer div.subscribe {
  font-size: 0.8rem;
}

footer div.subscribe input {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  font-family: var(--form-font-family);
  font-weight: var(--form-font-weight);
  text-align: center;
}

footer div.subscribe .button.black {
  width: 100%;
  margin: 0.6rem auto 2.1rem auto;
}

footer div.contact p {
  font-size: 0.7rem;
  margin: 0 auto;
  line-height: 1rem;
}

footer div.contact p:last-of-type {
  margin: 0 auto 2rem auto;
}

footer h6 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* The bottom black bar */
footer .copyright {
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.61rem;
  padding: 0.3rem;
  height: 42px;
  width: 100%;
}

@media(min-width: 585px) {
  footer .subscribe {
    width: calc(100% / 2);
    float: left;
    text-align: left;
  }

  footer .subscribe input.emailInput {
    width: auto;
  }

  footer .subscribe .button.black.emailInput {
    width: auto;
  }

  footer .contact {
    width: calc(100% / 2);
    float: left;
    text-align: right;
  }
  
  footer div.contact p {
    margin: 0.9rem auto;
  }
}

@media(min-width: 980px) {
  footer nav,
  footer .subscribe,
  footer .contact {
    width: calc(100% / 3);
    float: left;
    margin-top: 3rem;
  }

  footer nav ul {
    margin-top: 0;
    text-align: left;
  }

  footer nav ul li {
    display: block;
  }

}